OPENAI_API_KEY="your_openai_api_key"

POSTGRES_USER="your_username"
POSTGRES_PASSWORD="your_password"
POSTGRES_DB="your_database_name"
POSTGRES_PORT="5432"

DATABASE_URL=postgresql+asyncpg://your_username:your_password@localhost:5432/your_database_name
FERNET_KEY="your_fernet_key"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="your_langsmith_endpoint"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="your_langsmith_project"